<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "JewelryStore",
  "@id": "https://schmuckoase-gersthofen.de/#store",
  "name": "SchmuckOase Gersthofen",
  "description": "Juwelier und Goldankauf in Gersthofen, Bahnhofstraße 18 gegenüber dem City Center – Ankauf von Altgold, Zahngold und Silber, Schmuckreparatur, Gravur, Uhrenbatteriewechsel und Ohrlochstechen.",
  "url": "https://schmuckoase-gersthofen.de/",
  "telephone": "+49821497901",
  "email": "nazli@kabelmail.de",
  "image": "https://schmuckoase-gersthofen.de/assets/og/og-default.jpg",
  "logo": "https://schmuckoase-gersthofen.de/assets/apple-touch-icon.png",
  "priceRange": "€€",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Bahnhofstraße 18",
    "addressLocality": "Gersthofen",
    "postalCode": "86368",
    "addressRegion": "Bayern",
    "addressCountry": "DE"
  },
  "geo": { "@type": "GeoCoordinates", "latitude": 48.4255879, "longitude": 10.8749872 },
  "hasMap": "https://www.google.com/maps/search/?api=1&query=Bahnhofstra%C3%9Fe%2018%2C%2086368%20Gersthofen",
  "founder": { "@type": "Person", "name": "Ercan Nazli" },
  "openingHoursSpecification": [
    { "@type": "OpeningHoursSpecification", "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"], "opens": "09:00", "closes": "18:00" },
    { "@type": "OpeningHoursSpecification", "dayOfWeek": "Saturday", "opens": "09:00", "closes": "17:00" }
  ],
  "areaServed": ["Gersthofen", "Augsburg", "Neusäß", "Stadtbergen", "Langweid am Lech", "Gablingen"],
  "knowsAbout": ["Goldankauf", "Altgold", "Zahngold", "Silberankauf", "Schmuckreparatur", "Gravur", "Uhrenbatteriewechsel", "Ohrlochstechen", "Trauringe"]
}
</script>
